.header {
    display: flex;
    font-family: sans-serif, serif;
    font-size: 50px;
    justify-content: center;
}

.itemGrid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
    padding: 20px 30px;
}

.menuContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    gap: 0px 30px;
    top: 0px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 50px;
    margin-left: 0;
}

.checkout {
    font-family: sans-serif, serif;
    font-size: 22px;
    font-weight: 700;
    padding: 30px;
}

@media (width <=1200px) {
    .itemGrid {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (width <=800px) {
    .itemGrid {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .menuContainer {
        justify-content: center;
        gap: 0 10px;
    }
}
